.mobile{
  color: black;
}

.MuiBottomNavigation-root{
  color: black;
}

.nav-container{
  padding: 0px;
  margin-top: 0%;
}

.App{
  background-color: #6C809A;
  ;
}

.tab{
  color: white;
}

#root{
  align-content: center;
}