.mobile{
  color: black;
}

.MuiBottomNavigation-root{
  color: black;
}

.nav-container{
  padding: 0px;
  margin-top: 0%;
}

.App{
  background: rgb(96,93,159);
  background: linear-gradient(90deg, rgba(96,93,159,1) 0%, rgba(162,162,195,1) 35%, rgba(102,115,185,1) 100%);
}

.tab{
  color: white;
}

#root{
  align-content: center;
}